/* Default Styles */
:root{

  /* Colors */
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  /* Typography */
  --Font-family-h: Manrope;
  --Font-weight-bold: 700;
  --Font-weight-reg: 500;
  --Font-size-p: 13px;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

/* Reset Styles */
body{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Displaying Card In Cneter Of View Port */
  min-height: 100vh;
  padding: 1em;
  font-family: var(--Font-family-h);
  background-color: var(--Light-Grayish-Blue)
}

h2{
  font-size: 1.2rem;
  color: var(--Very-Dark-Grayish-Blue);
  line-height:1.5
}

p{
  font-size: var(--Font-size-p);
  color: var(--Desaturated-Dark-Blue);
  font-weight: var(--Font-weight-reg);
  line-height: 1.6
}

span, 
small{
  display:block;
}

a{
 background-color: var(--Light-Grayish-Blue);
 width: 38px;
 height:38px;
 place-content: center; /* Aligning Content Vertically */
 text-align: center; /* Aligning Content horizontally */
 border-radius: 50%;
 cursor: pointer;
}

button{
  color: var(--Very-Dark-Grayish-Blue);
  background-color: var(--Light-Grayish-Blue);
  width: 38px;
  height: 38px;
  align-content: center;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
button:focus{
  background-color: var(--Very-Dark-Grayish-Blue);
  color: var(--Light-Grayish-Blue);
  outline: none;
}

/* Image & Icon Styling */

img.img{
  /* height: 16em; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

#avatar{
  width:100%;
  border-radius: 50%
}

.icon{
  width:24px;
  height:24px;
}

/* Font Style & Color */
.text-light{
  color: var(--Grayish-Blue)
}

.text-dark{
  color: var(--Very-Dark-Grayish-Blue)
}

.text-bold{
  font-weight: var(--Font-weight-bold)
}

.letter-spacing{
  letter-spacing: 2px;
}

.uppercase{
  text-transform: uppercase
}

p.letter-spacing{
  font-size: 1.1rem
}

/* Layout */
.card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16em 1fr;
  gap: 2em;
  min-width: 18em;
  max-width:48em;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.container{
  display: grid;
  gap: 2em;
}

.container-content{
  display: grid;
  gap: .8em;
  padding: 0 2em;
}

.container-link {
  padding-block-end: 1.4em;
  position: relative;
}

.container-link #deactive{
  display:grid;
  grid-template-columns: 48px 1fr 38px;
  gap: 1.2em;
  justify-content: center;
  align-items: end;
  position: relative;
  padding: 0 2em;
}

/* Active State */
#active{
  display: flex;
  flex-direction : row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  inset: 0;
  width:100%;
  height: 100%;
  background-color: var(--Very-Dark-Grayish-Blue);
  padding: 2em;
  display: none;
  border-radius: 0 0 12px 12px;
}

#active div{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Desktop Mode */
@media (min-width:600px) {

  body{
    position: relative;
  }
  .card{
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0
  }

  .container{
    padding: 2em 0 0 0 ;
  }

  img.img{
    border-radius: 12px 0 0 12px;
  }
  
  #active{
    border-radius: 12px;
    /* transform: translateX(50px) translatey(-70px); */
    justify-content: center;
    width: 250px;
    inset: -5em -4.5em auto auto;
  }

  #active::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    bottom: -5px;
    rotate: 45deg

  }

  #active button{
    display: none;
  }

}

